BasedOnStyle:  Microsoft
Language:      Cpp

# Indentation
IndentWidth:           4
NamespaceIndentation:  All

# Alignment
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always



# Include sorting
SortIncludes:       true
IncludeBlocks:      Regroup
IncludeCategories:
  # System / Libs includes
  - Regex:     '^<.*>'
    Priority:  1
  # Project headers
  - Regex:     '^".*"'
    Priority:  2

# Puts template declaration above functions, not on the same line
BreakTemplateDeclarations: Yes

# Pointers and references alignment style
PointerAlignment: Left